.container{
    color: rgb(61, 61, 61);
    padding-top: 100px;
}
.nav{
    height: 50px;
}
#nv-bar{
    top: 0;
    position: fixed;
    width: 100%;
}
/* .navbar-toggler{
    height: 30px;
} */
.navbar-toggler-icon{
    height: 20px;
    margin: auto;
}
.nav-right{
    margin-left: 50%;
}
.nav-link{
    margin:0px, 10px;
}
#about{
    background-color: rgb(211, 211, 237);
}
.prof{
    font-size: 20px;
}
.img-logo{
    height: 50px;
}

.icons{
    font-size: 40px;
    margin: 20px;
    color:  rgb(42, 100, 171);
}
.resume{
    text-decoration: none;
    color: white;
    background-color: rgb(42, 100, 171);
    border-radius: 5px;
}
.my-card{
    display: flex;
    margin: 20px;
    border: 1px solid rgb(155, 154, 154);
    border-radius: 5px;
}
.card-body{
    background-color: rgb(211, 211, 237);
    padding: 80px;
}
.card-pic{
    padding: 0px 80px;
}
#skills{
    background-color: rgb(211, 211, 237);
    padding-left: 20px;
    padding-bottom: 20px;
}
span{
    background-color:gray;
    color: white;
    border-radius: 2px;
    margin: 60px;
    padding: 0px, 60px;
}
.inp{
    height: 40px;
    text-align: center;
}
.inp-msg{
    height: 100px;
}
.smb{
    color: white;
    background-color: rgb(42,100,171);
}
.card{
    background-color: rgb(211, 211, 237);
}
footer{
    height: 100px;
    background-color: rgb(42, 100, 171);
    color: white;
}
